Repository lucabattistini/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

🔧 chore: freelance setup
  package.json
  pnpm-lock.yaml
  public/favicon.ico
  src/features/loader/Loader.tsx
  src/features/particles/ParticlesScene.tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

🐛 fix: particles position
  src/features/particles/Particles.tsx
Due: prettier --write, eslint --max-warnings 0

🐛 fix: seo
  public/og/1200x675.jpg
  src/pages/index.tsx
Due: prettier --write, eslint --max-warnings 0

🔧 chore: email signature
  public/email/signature.png
Due: none

🔧 chore: removing email signature
  public/email/signature.png
Due: none

chore: glslify dx
  next.config.ts
  package.json
  pnpm-lock.yaml
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  scripts/build-shaders.mjs
  src/app/layout.tsx
  src/app/page.tsx
  src/components/particles/generated-shaders.ts
  src/components/particles/index.ts
  src/components/particles/machine.ts
  src/components/particles/particles.tsx
  src/components/particles/pointer-texture.ts
  src/components/particles/scene.tsx
  src/components/particles/store.ts
  src/components/particles/touch-texture.ts
  src/components/particles/use-points.ts
  src/lib/shaders/index.ts
  src/lib/shaders/particles.frag
  src/lib/shaders/particles.vert
  tsconfig.json
  types/glsl.d.ts
Due: prettier --write, eslint --max-warnings 0

feat: add 404 page, refactor home component, and enhance navbar functionality
  package.json
  pnpm-lock.yaml
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/navbar/index.ts
  src/components/navbar/nav-anchor.tsx
  src/components/navbar/navbar.tsx
  src/components/navbar/timezone.tsx
  src/components/particles/index.ts
  src/components/particles/particles-controls.tsx
  src/components/particles/particles.tsx
  src/components/particles/scene.tsx
  src/components/particles/use-points.ts
  src/components/section/index.ts
  src/components/section/section.tsx
  src/features/home/index.tsx
  src/features/home/sections/about.tsx
  src/features/home/sections/contacts.tsx
  src/features/home/sections/education.tsx
  src/features/home/sections/experience.tsx
  src/features/home/sections/hero/hero.tsx
  src/features/home/sections/hero/name.tsx
  src/features/home/sections/hero/quote.tsx
  src/features/home/sections/hero/role.tsx
  src/features/home/sections/hero/seniority.tsx
  src/features/home/sections/hobbies.tsx
  src/features/home/sections/languages.tsx
  src/features/home/sections/skills.tsx
  src/features/home/sections/thanks/thanks.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-is-beyond-fold.ts
  src/lib/hooks/use-mobile-detect.ts
  src/lib/shaders/particles.frag
  src/lib/styles/cn.ts
  src/lib/styles/index.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

fix: missing files
  src/app/globals.css
  src/lib/hooks/use-is-beyond-fold.ts
Due: prettier --write, eslint --max-warnings 0

feat: implement split-text utility and update navbar for improved accessibility
  src/components/navbar/nav-anchor.tsx
  src/components/navbar/navbar.tsx
  src/features/home/index.tsx
  src/features/home/sections/contacts.tsx
  src/features/home/sections/hero/name.tsx
  src/features/home/sections/hero/quote.tsx
  src/features/home/sections/hero/role.tsx
  src/features/home/sections/hero/seniority.tsx
  src/lib/utils/index.ts
  src/lib/utils/split-text.ts
Due: prettier --write, eslint --max-warnings 0

feat: implement custom cursor functionality with sticky behavior and enhance navbar interactions
  src/app/layout.tsx
  src/components/cursor/compute-stuck-coordinates.ts
  src/components/cursor/cursor-machine.ts
  src/components/cursor/cursor-store.tsx
  src/components/cursor/cursor.tsx
  src/components/cursor/index.ts
  src/components/navbar/nav-anchor.tsx
  src/components/navbar/navbar.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-mouse.ts
Due: prettier --write, eslint --max-warnings 0

refactor: update import paths for cursor components and add cursor machine logic
  src/components/cursor/compute-stuck-coordinates.ts
  src/components/cursor/cursor.tsx
  src/components/cursor/index.ts
  src/components/cursor/machine.ts
  src/components/cursor/store.tsx
  src/components/particles/controls.tsx
  src/components/particles/index.ts
  src/features/home/sections/hero/role.tsx
Due: prettier --write, eslint --max-warnings 0

chore: improve animations
  eslint.config.mjs
  package.json
  public/copy.svg
  src/app/not-found.tsx
  src/components/cursor/compute-stuck-coordinates.ts
  src/components/cursor/cursor.tsx
  src/components/cursor/index.ts
  src/components/cursor/machine.ts
  src/components/navbar/nav-anchor.tsx
  src/components/navbar/navbar.tsx
  src/components/particles/controls.tsx
  src/components/particles/index.ts
  src/components/particles/machine.ts
  src/components/particles/particles.tsx
  src/components/particles/scene.tsx
  src/features/error/error-code.tsx
  src/features/error/index.ts
  src/features/home/index.tsx
  src/features/home/sections/footer/footer.tsx
  src/features/home/sections/footer/payoff.tsx
  src/features/home/sections/footer/thanks.tsx
  src/features/home/sections/hero/hero.tsx
  src/features/home/sections/hero/quote.tsx
  src/features/home/sections/thanks/thanks.tsx
  src/lib/hooks/use-is-beyond-fold.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

feat: add copy to clipboard functionality with visual feedback
  next-env.d.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  public/copy-check.svg
  public/copy.svg
  src/features/home/sections/contacts.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-copy-to-clipboard.ts
  tsconfig.json
  types/svg.d.ts
Due: prettier --write, eslint --max-warnings 0

chore: enhance section animations and styling
  next-env.d.ts
  pnpm-lock.yaml
  src/app/globals.css
  src/components/particles/particles.tsx
  src/components/particles/scene.tsx
  src/components/section/section.tsx
  src/features/home/sections/about.tsx
  src/features/home/sections/contacts.tsx
  src/features/home/sections/education.tsx
  src/features/home/sections/experience.tsx
  src/features/home/sections/hobbies.tsx
  src/features/home/sections/languages.tsx
  src/features/home/sections/skills.tsx
  src/lib/hooks/index.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

feat: implement cursor stick functionality and enhance footer content
  next-env.d.ts
  src/components/cursor/compute-stuck-coordinates.ts
  src/components/cursor/cursor.tsx
  src/components/cursor/index.ts
  src/components/cursor/machine.ts
  src/components/navbar/nav-anchor.tsx
  src/components/navbar/navbar.tsx
  src/features/home/sections/contacts.tsx
  src/features/home/sections/footer/footer.tsx
  src/features/home/sections/footer/payoff.tsx
  src/features/home/sections/footer/thanks.tsx
Due: prettier --write, eslint --max-warnings 0

chore: update resume link, enhance section content, and improve layout across multiple components
  public/resume.pdf
  src/components/navbar/navbar.tsx
  src/components/section/section.tsx
  src/features/home/sections/about.tsx
  src/features/home/sections/contacts.tsx
  src/features/home/sections/education.tsx
  src/features/home/sections/experience.tsx
  src/features/home/sections/footer/footer.tsx
  src/features/home/sections/hero/quote.tsx
  src/features/home/sections/hero/seniority.tsx
  src/features/home/sections/hobbies.tsx
  src/features/home/sections/languages.tsx
  src/features/home/sections/skills.tsx
Due: prettier --write, eslint --max-warnings 0

feat: implement navbar component with responsive design and state management
  src/app/layout.tsx
  src/components/cursor/cursor.tsx
  src/components/cursor/index.ts
  src/components/cursor/root.tsx
  src/components/navbar/index.ts
  src/components/navbar/machine.ts
  src/components/navbar/nav-menu.tsx
  src/components/navbar/navbar.tsx
  src/components/navbar/store.ts
  src/components/particles/particles.tsx
  src/components/particles/scene.tsx
  src/components/section/section.tsx
  src/features/home/index.tsx
  src/features/home/sections/about.tsx
  src/features/home/sections/experience.tsx
  src/features/home/sections/footer/footer.tsx
  src/features/home/sections/footer/payoff.tsx
  src/features/home/sections/footer/thanks.tsx
  src/features/home/sections/hero/hero.tsx
  src/features/home/sections/hero/name.tsx
  src/features/home/sections/hero/quote.tsx
  src/features/home/sections/hobbies.tsx
Due: prettier --write, eslint --max-warnings 0

chore: enhance hobbies section with cursor hover effects
  public/resume.pdf
  src/features/home/sections/hobbies.tsx
Due: prettier --write, eslint --max-warnings 0

ci: add GitHub Actions workflows for Vercel deployments
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: none

fix(ci): use pnpm instead of npm in workflows
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: none

style: format
  next-env.d.ts
  src/app/layout.tsx
  src/components/cursor/cursor.tsx
  src/components/particles/particles.tsx
Due: prettier --write, eslint --max-warnings 0

feat: add unified interaction hook with route-change reset
  CLAUDE.md
  docs/audits/2026-03-17-accessibility-performance-audit.md
  docs/brainstorms/2026-03-17-unified-interaction-hook-brainstorm.md
  docs/plans/2026-03-17-001-feat-unified-interaction-hook-plan.md
  next-env.d.ts
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/cursor/index.ts
  src/components/navbar/machine.ts
  src/components/navbar/nav-anchor.tsx
  src/components/navbar/navbar.tsx
  src/components/particles/particles.tsx
  src/components/route-reset-handler.tsx
  src/features/error/error-code.tsx
  src/features/home/sections/contacts.tsx
  src/features/home/sections/hobbies.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-interaction.ts
Due: prettier --write, eslint --max-warnings 0

fix: pair hover/unhover with explode/repair instead of stick/unstick
  docs/brainstorms/2026-03-17-unified-interaction-hook-brainstorm.md
  src/features/error/error-code.tsx
  src/lib/hooks/use-interaction.ts
Due: prettier --write, eslint --max-warnings 0

chore: update README with stack and commands, add .claude/ to gitignore
  .gitignore
  README.md
Due: prettier --write

chore: format README and audit documents for improved readability
  README.md
  docs/audits/2026-03-17-accessibility-performance-audit.md
  next-env.d.ts
  src/components/particles/particles.tsx
Due: prettier --write, eslint --max-warnings 0

docs: add credits for interactive particles inspiration
  README.md
Due: prettier --write

feat: add Lenis smooth scroll with Motion frame sync
  docs/brainstorms/2026-03-17-lenis-smooth-scroll-brainstorm.md
  docs/plans/2026-03-17-002-feat-lenis-smooth-scroll-plan.md
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/navbar/nav-anchor.tsx
  src/components/navbar/nav-menu.tsx
  src/components/smooth-scroll/index.ts
  src/components/smooth-scroll/smooth-scroll.tsx
Due: prettier --write, eslint --max-warnings 0

fix: reduce per-frame work during and after scrolling
  docs/audits/2026-03-17-accessibility-performance-audit.md
  docs/plans/2026-03-17-003-fix-scroll-performance-optimizations-plan.md
  src/components/particles/particles.tsx
  src/components/particles/scene.tsx
  src/components/particles/touch-texture.ts
  src/features/home/index.tsx
Due: prettier --write, eslint --max-warnings 0

fix: improve scroll performance by reducing per-frame overhead
  docs/solutions/performance-issues/scroll-per-frame-overhead.md
  next-env.d.ts
Due: prettier --write, eslint --max-warnings 0

style: code format
  docs/solutions/performance-issues/scroll-per-frame-overhead.md
  next-env.d.ts
Due: prettier --write, eslint --max-warnings 0

feat(seo): add full SEO setup with sitemap, robots, OG image, and structured data
  docs/brainstorms/2026-03-18-seo-setup-brainstorm.md
  docs/plans/2026-03-18-001-feat-full-seo-setup-plan.md
  next-env.d.ts
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/opengraph-image.tsx
  src/app/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/features/home/sections/contacts.tsx
  src/lib/site.ts
Due: prettier --write, eslint --max-warnings 0

feat(seo): use static OG image instead of auto-generated one
  src/app/opengraph-image.png
  src/app/opengraph-image.tsx
Due: prettier --write, eslint --max-warnings 0

refactor(seo): reference OG image from public folder instead of copying to app
  src/app/layout.tsx
  src/app/opengraph-image.png
Due: prettier --write, eslint --max-warnings 0

fix: missing file
  public/opengraph-image.png
Due: none

feat: add Vercel Analytics and Speed Insights
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: prettier --write, eslint --max-warnings 0

feat: add husky and lint-staged for pre-commit checks
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: wrap band link in underline for better styling
  src/features/home/sections/hobbies.tsx
Due: prettier --write, eslint --max-warnings 0

feat: add haptic feedback to key interactions on mobile
  docs/brainstorms/2026-03-24-web-haptics-requirements.md
  docs/plans/2026-03-24-001-feat-web-haptics-integration-plan.md
  package.json
  pnpm-lock.yaml
  src/components/navbar/nav-menu.tsx
  src/components/particles/scene.tsx
  src/features/home/sections/contacts.tsx
  src/lib/hooks/index.ts
  src/lib/hooks/use-haptics.ts
Due: prettier --write, eslint --max-warnings 0

Path conditions:
  prettier --write: (any of: **/*.{css,less,scss,html,json,tsx,jsx,ts,js}) or (any of: *.{json,md})
  eslint --max-warnings 0: any of: **/*.{jsx,js,tsx,ts}
