Repository lucabattistini/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

refactor: simplify haptics hook by removing isSupported due to a library bug
  next-env.d.ts
  src/lib/hooks/use-haptics.ts
Due: prettier --write, eslint --max-warnings 0

fix: remove haptics trigger from scene for browser spec compatibility
  src/components/particles/scene.tsx
Due: prettier --write, eslint --max-warnings 0

fix: resume download RSC prefetch
  src/components/navbar/nav-menu.tsx
Due: prettier --write, eslint --max-warnings 0

fix: update favicon
  src/app/favicon.ico
Due: none

fix: resume download RSC prefetch
  src/components/navbar/navbar.tsx
Due: prettier --write, eslint --max-warnings 0

fix: resolve React hydration mismatch error #418
  src/components/navbar/timezone.tsx
  src/features/home/sections/hero/seniority.tsx
Due: prettier --write, eslint --max-warnings 0

ci: bump GitHub Actions to Node.js 24-compatible versions
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: none

ci: bump Node.js version to 25 to match local
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: none

chore: add Node.js engines constraint, update @types/node, rename RouteResetHandler
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/interaction-reset-handler/index.ts
  src/components/interaction-reset-handler/interaction-reset-handler.tsx
Due: prettier --write, eslint --max-warnings 0

fix: use Node.js 24 for Vercel compatibility
  .github/workflows/preview.yml
  .github/workflows/production.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update resume.pdf with latest version
  public/resume.pdf
Due: none

Path conditions:
  prettier --write: (any of: **/*.{css,less,scss,html,json,tsx,jsx,ts,js}) or (any of: *.{json,md})
  eslint --max-warnings 0: any of: **/*.{jsx,js,tsx,ts}
